<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @post.blog.title %>
</p>

<p>
  <strong>Favorited by:</strong>
  <ul>
    <% @post.favorites.each do |favorite| %>
      <li><%= favorite.user.name %></li>
    <% end %>
  </ul>
  <%= link_to 'Add Favorite', new_favorite_path %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', @post.blog %>
